footer {
background-image: ./img/ррро.png;
width: 1500px;
}
h1{
	font-family: Arial;
	text-align: center;
	font-size: 25px;
	padding: 20px;
}
h2 {
    font-family: Arial;
	text-align: left;
	font-size: 25px;
	width: 600px;
	line-height: 35px;
	
}
.forh2 {
	margin: 0 auto;
	text-align: center;
	width: 900px;
	line-height: 50px;
}
.qwerty {
display: inline-block;
 font-family: Arial;
	font-size: 20px;
}

h3 {
	width: 700px;
	margin-left: 50px;
	 font-family: Arial;

}
.vir {
	display: inline-block;
	margin-bottom: 30px;
}
.vir2 {
	display: inline-block;
	margin-left: 80px;
	vertical-align: top;
}
.stroka {
	display: inline-block;
	height: 300px;
	vertical-align: top;
}
.ffft {
	font-size: 50%;
}

body {
	background-color: #9040D5;
}
main {
	padding: 50px;
	text-align: center;
}
a {
	background-color: #F79E1F;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif; 
  color: white;
  transition: .2s ease-in-out;
}
a:before {
  content: "";
  background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
a:hover {
  background: #fe6637;
  color: #fff;
}
a:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}
.uuu {
	background-color: red;
}
h5 {
	text-align: left;
	color: orange;
	font-size: 50px;
	 font-family: Arial;
}
.hhh {
	background-color: orange;
	color: black;
	cursor: cell;
}
.ggg {
        background-color : black;
        color: white;
        cursor: cell;
        font-size: 100px;
}
